*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: #f5f5f5;
}

.active {
    padding: 0.6rem;
    text-decoration: none;
    color: #fff;
    background-color: blue;
    border-radius: 8px;
}

.active:hover {
    color: blue;
    background-color: #fff;
}

.logo {
    color: blue;
    font-size: 1.5rem;
    font-weight: 900;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 1.5rem; */
    padding: 1.5rem 8.5rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav li {
    list-style-type: none;
    margin-left: 0.5rem;
}

.navbar-nav li .live {
    padding: 0.6rem;
    color: #000;
    text-decoration: none;
}

.navbar-nav li .live:hover {
    color: blue;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1rem 0 2.1rem 8.5rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.left h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.name {
    color: blue;
}

.btn {
    width: 7.5rem;
    padding: 3%;
    text-align: center;
    font-size: 1.1rem;
    border-style: none;
    background-color: blue;
    margin: 2rem 1.3rem 2rem 0;
    border-radius: 10px;
    cursor: pointer;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn2 {
    width: 7.5rem;
    padding: 3%;
    text-align: center;
    font-size: 1.1rem;
    border: 3px solid blue;
    background-color: transparent;
    margin: 2rem 0 2rem 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn2 a {
    text-decoration: none;
    color: blue;
}

.right img {
    width: 40%;
    display: inline-block;
}

#about{
    text-align: center;
}

#about h2 {
    color: blue;
    text-decoration: underline;
    margin-top: 4rem;
    padding: 1.5rem;
    line-height: 0.5rem;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8.5rem;
}

.about-img {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.about-img img {
    width: 50%;
}

.about-content {
    text-align: justify;
    width: 50%;
    /* font-size: 1.1rem;
    font-weight: 400;
    color: #333;
    line-height: 1.5; */
}

#projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem 8.5rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.project {
    width: 70%;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px #ddd;
  }

  #projects h2 {
    color: blue;
    text-align: center;
    text-decoration: underline;
    margin-top: 4rem;
    padding: 1.5rem;
    line-height: 0.5rem;
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  .project p {
    margin-bottom: 20px;
  }
  
  .project a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .project a:hover {
    background-color: rgb(84, 235, 25);
    color: #f5f5f5;
  }

  #skills {
    padding: 1.5rem 12.5rem;
    margin: 3rem;
  }

  #skills h2 {
    text-align: center;
    color: blue;
    margin: 0.6rem auto;
  }

  #skills ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00c4ff;
    padding: 10px 30px;
    color: #fff;
  }

  #skills ul li {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .bar{
    background-color: #454545;
    display: block;
    height: 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
  }

  .bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(7, 246, 19)0%, rgb(74, 201, 97)100%);
  }

  .htm{
    width: 100%;
    animation: htm 3s;
  }

  .cs3{
    width: 100%;
    animation: cs3 3s;
  }

  .jscript{
    width: 90%;
    animation: jscript 3s;
  }

  .rct{
    width: 75%;
    animation: rct 3s;
  }

  @keyframes htm{
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }

  @keyframes cs3{
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }

  @keyframes jscript{
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }

  @keyframes rct{
    0%{
      width: 0%;
    }
    100%{
      width: 75%;
    }
}

  .contact {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }

  .contact h2 {
    color: blue;
  }

  .submit {
    padding: 10px 20px;
    border: none;
    background-color:rgb(11, 176, 241);
    color: #fff;
    font-size: 1.2rem;
  }

  .submit:hover{
    background-color: rgb(84, 235, 25);
  }

  .social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 10px;
  }

  .social-pro {
    display: block;
  }

  .social-pro i {
    padding: 0.6rem;
    cursor: pointer;
  }

  .social i {
    margin: 0 20px; 
  }

  .fa-facebook:hover{
    color: rgb(11, 176, 241);
    cursor: pointer;
  }

  .fa-instagram:hover{
    color: rgb(250, 24, 239);
    cursor: pointer;
  }

  .fa-twitter:hover{
    color: rgb(11, 176, 241);
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
    margin-top: 30px;
    padding: 20px 10px;
    text-align: justify;
  }

  footer h3{
    margin-left: 10px;
    text-align: left;
  }

  footer p{
    text-align: justify;
    line-height: 1.6;
    font-size: 0.9rem;
    font-weight: 100;
    color: #333;
    padding: 10px;
  }

  .copyright{
    text-align: center;
    line-height: 1.6;
    font-size: 0.9rem;
    font-weight: 100;
    color: rgb(175, 159, 159);
    padding-top: 10px;
  }